
<section>
  <div class="card">
    <h1 class="header">Cadastrar novo Aluno</h1>
    <div>
      <form class="alinharesquerda">
        <div>
          <label class="hora" for="nome">Primeiro nome: </label>
          <input type="text" id="nome" name="nome" /><br /><br />
        </div>
        <div>
          <label class="hora" for="sobrenome">Sobrenome: </label>
          <input type="text" id="sobrenome" name="sobrenome" /><br /><br />
        </div>
        <div>
          <label class="hora" for="telefone">Telefone: </label>
          <input type="text" id="telefone" name="telefone" />
        </div>
      </form><br>
      <div class="header">
        <button class="corbotao" nome="cadastrar" type="submit">Cadastrar</button>
      </div>
    </div>
</div>
</section>
