.header {
  background-color: #000;
  color: #fff;
}
.card {
  box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.4);
  max-width: 300px;
  margin: auto;
  text-align: center;
  
}

.corbotao{
  background-color: #000;
  color: #fff;
}
.alinhar{
    display: inline-block;
    width: 90px;
}


