.header {
  background-color: #f4b41a;
  color: #143d59;
  
}
.card {
  box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: auto;
  text-align: center;
  
}

.corbotao{
  background-color: #143d59;
  color:white;
}
label.hora {
  display: inline-block;
  width: 100px;
  text-align: left;
}

