<section>
<h1>Cadastrar novo Aluno</h1>

<div>
  <form>
    <div>
      <label for="nome">Primeiro nome: </label>
      <input type="text" id="nome" name="nome" /><br /><br />
    </div>
    <div>
      <label for="sobrenome">Sobrenome: </label>
      <input type="text" id="sobrenome" name="sobrenome" /><br /><br />
    </div>
    <div>
      <label for="telefone">Telefone: </label>
      <input type="text" id="telefone" name="telefone" />
    </div>
  </form><br>
  <button nome="cadastrar" type="submit">Cadastrar</button>
</div>
</section>
